<div style="" class="app-header-body">
	<div class="grid">
		<div class="row" >
			<div col-3>
				<input type="text"  name="" [(ngModel)]="searchForm.origin" placeholder="Origin">
			</div>
			<div col-3>
				<input type="text"  name="" [(ngModel)]="searchForm.destination" placeholder="Destination">
			</div>
			<div col-3>
				<input type="date"   name="" [(ngModel)]="searchForm.departure_date" placeholder="">
			</div>
			<div col-3>
				<button type="submit" (click)="search()">Search</button>
			</div>
		</div>	
	</div>
</div>
<div class="app-header">
	<p no-margin class="header-title">Flight Search Engine</p>
</div>