/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

[no-margin]{
  margin:0px;
}

[no-padding]{
  padding:0px;
}
.grid {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid[no-padding] > .row > .col {
  padding: 0;
}

@media (min-width: 576px) {
  .grid[fixed] {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .grid[fixed] {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .grid[fixed] {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid[fixed] {
    width: 1140px;
    max-width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row[nowrap] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.row[wrap-reverse] {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.row[align-items-start] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row[align-items-center] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row[align-items-end] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row[align-items-stretch] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row[align-items-baseline] {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.row[justify-content-start] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.row[justify-content-center] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row[justify-content-end] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row[justify-content-around] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row[justify-content-between] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col {
  padding: 0px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col[align-self-start] {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.col[align-self-end] {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.col[align-self-center] {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.col[align-self-stretch] {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.col[align-self-baseline] {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

[col-1] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-1] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-1] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-1] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-1] {
    padding: 0px;
  }
}

[col-2] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-2] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-2] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-2] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-2] {
    padding: 0px;
  }
}

[col-3] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-3] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-3] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-3] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-3] {
    padding: 0px;
  }
}

[col-4] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-4] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-4] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-4] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-4] {
    padding: 0px;
  }
}

[col-5] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-5] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-5] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-5] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-5] {
    padding: 0px;
  }
}

[col-6] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-6] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-6] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-6] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-6] {
    padding: 0px;
  }
}

[col-7] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-7] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-7] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-7] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-7] {
    padding: 0px;
  }
}

[col-8] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-8] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-8] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-8] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-8] {
    padding: 0px;
  }
}

[col-9] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-9] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-9] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-9] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-9] {
    padding: 0px;
  }
}

[col-10] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-10] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-10] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-10] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-10] {
    padding: 0px;
  }
}

[col-11] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-11] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-11] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-11] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-11] {
    padding: 0px;
  }
}

[col-12] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col-12] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col-12] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col-12] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col-12] {
    padding: 0px;
  }
}

[col] {
  padding: 0px;
}

@media (min-width: 576px) {
  [col] {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  [col] {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  [col] {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  [col] {
    padding: 0px;
  }
}

[col] {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

[col-auto] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%;
}

[col-2] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  width: 16.66667%;
  max-width: 16.66667%;
}

[col-3] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}

[col-4] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  width: 33.33333%;
  max-width: 33.33333%;
}

[col-5] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  width: 41.66667%;
  max-width: 41.66667%;
}

[col-6] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}

[col-7] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  width: 58.33333%;
  max-width: 58.33333%;
}

[col-8] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  width: 66.66667%;
  max-width: 66.66667%;
}

[col-9] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  width: 75%;
  max-width: 75%;
}

[col-10] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  width: 83.33333%;
  max-width: 83.33333%;
}

[col-11] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  width: 91.66667%;
  max-width: 91.66667%;
}

[col-12] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}