<div class="app-search-sidebar">

	<div class="row">
		<app-input-autocomplete placeholder="Source" [autocomplete]="airports" [value]="searchForm.source" (inputChange)="searchForm.source=$event" ></app-input-autocomplete>
	</div>
	<div class="row">
		<app-input-autocomplete placeholder="Destination" [autocomplete]="airports" [value]="searchForm.destination" (inputChange)="searchForm.destination=$event" ></app-input-autocomplete>
	</div>
	<div class="row">
		<input type="date" name="" [(ngModel)]="searchForm.departure_date" placeholder="">
	</div>
	<div class="row"> Do you want to book a return?</div>
	<div class="row">
		<input type="date" name=""  [(ngModel)]="searchForm.return_date "placeholder="">
	</div>
	<div class="row">
		<input type="number" name="" [(ngModel)]="searchForm.no_of_passengers" placeholder="Passenger">
	</div>
	<button type="submit" (click)="search()">Search</button>

	<app-filter [min]="min" [max]="max" (valueChanged)="valueChanged($event)"></app-filter>
</div>