<div class="app-search-sidebar">

	<app-input-autocomplete placeholder="Source" [autocomplete]="airports" [value]="searchForm.source" (inputChange)="searchForm.source=$event" ></app-input-autocomplete>
	<app-input-autocomplete placeholder="Destination" [autocomplete]="airports" [value]="searchForm.destination" (inputChange)="searchForm.destination=$event" ></app-input-autocomplete>
	<div class="form-input" >
		<small class="placeholder">Date</small>
		<input type="date" name="" [(ngModel)]="searchForm.departure_date" placeholder="">
	</div>
	<div class="form-input" >
		<small class="placeholder">Number of Passengers</small>
		<input type="number" name="" [(ngModel)]="searchForm.no_of_passengers">
	</div>
	<div class="form-input" >
		<p style="color:white">Do you want to book a return?</p>
		<small class="placeholder">Return Date</small>
		<input type="date" name=""  [(ngModel)]="searchForm.return_date "placeholder="">
	</div>
	<button type="submit" (click)="search()" class="form-button">Search</button>

	<app-filter [min]="min" [max]="max" (valueChanged)="valueChanged($event)"></app-filter>
</div>